.secondary {
  background: #fff;
  border: 1px solid @brand-primary-dark;
  border-top: none;
  display: none;
  height: 0;
  overflow: hidden;

  .menu-wrap {
    margin: 0 -41px;
    padding: 0 18px;
    width: 100%;
  }

  .menu-item {
    margin-bottom: 10px;
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .group-buttons .btn {
    padding: 6px 0;
  }

  .label-wrapper {
    padding: 0;
  }
}
